.snap-x {
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
 -webkit-overflow-scrolling: touch;
}

.snap-start {
 scroll-snap-align: start;
}

.banner-1 {
 background: url("../img/banner-1.jpg") no-repeat center center fixed;
 background-size: cover;
}

.banner-2 {
 background: url("../img/banner-2.jpg") no-repeat center center fixed;
 background-size: cover;
}

.banner-3 {
 background: url("../img/banner-3.png") no-repeat center center fixed;
 background-size: cover;
}

.banner-4 {
 background: url("../img/banner-4.png") no-repeat center center fixed;
 background-size: cover;
}
